{% load static %}
<html>
<head>
</head>
<body>
{% for msg in messages %}




           <div class="alert alert-success alert-dismissible fade show" role="alert">

  <strong>Hey!</strong>{{ msg }}

  <button type="button" class="close" data-dismiss="alert" aria-label="Close">

    <span aria-hidden="true">&times;</span>

  </button>

</div>


        



        {% endfor %}

<form action="{% url 'hiii:update' user.id %}" method="POST" enctype="multipart/form-data">

    <table>
    <tr>
    {% csrf_token%}
    <td>
    {{form.as_table}}
    </td>
    </tr>
    </table>
    <input type="Submit" name="" value="update">
    </form>
    </body>
    </html>
